<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.catt.mybatis.plus.generator.mapper.CityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.catt.mybatis.plus.generator.entity.City">
        <id column="id" property="id" />
        <result column="city_id" property="cityId" />
        <result column="city_name" property="cityName" />
        <result column="province_id" property="provinceId" />
    </resultMap>

</mapper>
